{% load bootstrap3 %}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}
        <title>{% block title %}BadSound - Vote for the worse song ever !{% endblock %}</title>
        {{ form.media }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    {% for link in menu %}
                        <li class="btn btn-lg"><a href="{{link.url}}">{{link.message}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        <nav>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </body>
    <footer class="footer">
        <div class="container">
        <center><p class="text-muted">Made by Toon with the help and ideas of SupayrPoney and iTitou</p></center>
        </div>
    </footer>
</html>